bin
lib
lib32
lib64
usr
html
www
latex
*.zip
*.so
!prod/platformCommon/content/tgt_gcc_5.1.0_a6n2/lib_oss/grpc-a/tgt_gcc_4.4.3_ubuntu/libgrpc/libprotobuf.so
!prod/platformCommon/content/tgt_gcc_5.1.0_a6n2/lib_oss/grpc-a/tgt_gcc_4.4.3_ubuntu/libgrpc/libgrpc++_unsecure.so
!prod/platformCommon/content/tgt_gcc_5.1.0_a6n2/lib_oss/grpc-a/tgt_gcc_4.4.3_ubuntu/libgrpc/libgrpc_unsecure.so
!prod/platformCommon/content/tgt_gcc_5.1.0_a6n2/lib_oss/grpc-a/tgt_gcc_4.4.3_ubuntu/libgrpc/libgrpc.so
!prod/platformCommon/content/tgt_gcc_5.1.0_a6n2/lib_oss/grpc-a/tgt_gcc_4.4.3_ubuntu/libgrpc/libgpr.so
!prod/platformCommon/content/tgt_gcc_5.1.0_a6n2/lib_oss/grpc-a/tgt_gcc_4.4.3_ubuntu/libgrpc/libgrpc++.so
*.os
*.~
*~
*.o
.sconsign.dblite
process/slickEdit/pathfinder.vpwhistu
process/slickEdit/pathfinder.vtg
latex/*
*.ex
obj
Debug
ext/win32/boost_1_35_0
ext/win64/boost_1_35_0
ext/win32/fltk-1.1.9
ext/win32/FWTools2.4.3
config/loadDumpPlannerScenarios
ext/win32
ext/win64
ext/loadDumpPlannerScenarios.zip
ext/loadDumpPlannerScenarios
*.vpj
*.vpw
*.vpwhistu
*.vtg
bundle_*
*.contrib*
build.log
build.status
*.orig
.cproject
.project
*.swp
.pathfinderLastLogDir
.pathfinderLastScreenshotDir
cscope.files
cscope.out
cscope.in.out
cscope.po.out
ncscope.out
.sconsign.tmp
.logSubsetLastLogDir
config/site
config/Site_*
config/robot
config/velodyneCalib-*
config/TransformNetwork-*
config/Minestar-MachineID.rb
*.pyc
.settings
git_to_cc_mirror*.log
config/Minestar-MachineID.rb
config/Site_*.rb
config/TransformNetwork-*.rb
config/velodyneCalib-*.xml
prod/coretech/hub/*/bindings/*_wrap.cc
prod/coretech/hub/resmgr/tools/*/messages/bindings/*_wrap.cc
prod/coretech/hub/resmgr/tools/hrmdisplay/ui*.h
prod/coretech/hub/resmgr/tools/hrmdisplay/moc_*.cc
localCode
*.ahs_git*

# Here for experiments with cmake
#CMakeLists.txt
# build

# automatedPostProcessing
outputALP

.tags
.tags_sorted_by_file
core
DebianPkg*/
*.deb
*.bak
*checksummap.mat

# release & FL2 temp dirs and files
tempRelease
fl2HelperTemp
*_release_notes.txt
*ImageManifest.xml
*.app

# PC-Lint output files
*.lint
*.lob
pclint/lint_cmnds.sh
*.log
*.status

#Emacs leftovers
\#*\#
.\#*

# build-$(PLATFORM) directory
build-*/

#Verity files
verity/*
